@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
@import url("http://weloveiconfonts.com/api/?family=entypo");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:before, :after {
  content: '';

  position: absolute;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #ddd;
}

.inner {
  width: 780px;
  margin: 0 auto;
}

#inner a {
  float: left;
  margin: 45px 25px 0;
}

.button {
  position: relative;
  width: auto;
  height: 40px;
  padding: 0 29px 0 55px;
  font: 700 16px/40px 'Quattrocento Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  border-radius: 20px;
  background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.button span {
  font-size: 12px;
  text-transform: none;
  color: #aaa;
}

.button:before {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font: 20px/40px entypo;
  text-align: center;
  color: #fff;
  border-radius: 20px;
}

.button.fb:before {
  content: '\f30c';
  background: linear-gradient(to bottom, #4477cc 0%, #2f5fae 100%);
}

.button.tw:before {
  content: '\f309';
  background: linear-gradient(to bottom, #00ccff 0%, #00a3cc 100%);
}

.button.gp:before {
  content: '\f30f';
  background: linear-gradient(to bottom, #dd4433 0%, #bd2f20 100%);
}

.button:hover {
  text-shadow: 0 0 10px #fff;
}

/* reverse */
.button.reverse {
  color: #fff;
}

.button.reverse span {
  color: #eee;
}

.button.fb.reverse {
  background: linear-gradient(to bottom, #4477cc 0%, #2f5fae 100%);
}

.button.tw.reverse {
  background: linear-gradient(to bottom, #00ccff 0%, #00a3cc 100%);
}

.button.gp.reverse {
  background: linear-gradient(to bottom, #dd4433 0%, #bd2f20 100%);
}

.button.reverse:before {
  color: #555;
  background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
}

/* naked */
.button.naked:before {
  border-right: 1px solid #aaa;
  background: none;
}


.button.fb.naked:before {
  color: #356ac2;
}

.button.tw.naked:before {
  color: #00b8e6;
}

.button.gp.naked:before {
  color: #d33523;
}
